<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649229634613-k3rrdr47ps05uavsbggnvc70eabhv5tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649229634613-k3rrdr47ps05uavsbggnvc70eabhv5tq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649229634613-8fopsmhruimfmj6ms4o48prirjenq6ic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxbnqu8icKNHauUZveyBjG5srd7f1GQIA</string>
	<key>GCM_SENDER_ID</key>
	<string>649229634613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livewellindo.app</string>
	<key>PROJECT_ID</key>
	<string>livewell-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>livewell-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649229634613:ios:0e315444eb75a8d265357c</string>
</dict>
</plist>